---
import { productos } from "../data/productos";
import "../styles/global.css";

const url = new URL(Astro.request.url);
const categoria = url.searchParams.get("categoria");

const productosFiltrados = categoria
  ? productos.filter((producto) => producto.categoria === categoria)
  : productos;
---

<html lang="es">
  <head>
    <title>Galería de Productos | Proyecto Yaz</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-charcoal-500 text-negroni-500 font-sans">
    <main class="max-w-6xl mx-auto px-4 py-12">
      <div class="flex justify-between items-center mb-8">
        <h1 class="text-4xl font-bold">Galería de Productos</h1>
        <a
          href="/"
          class="text-sm bg-negroni-500 hover:bg-negroni-600 text-white px-4 py-2 rounded-xl shadow transition"
        >
          ← Volver al inicio
        </a>
      </div>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
      >
        {
          productosFiltrados.map((producto) => (
            <a
              href={`/producto/${producto.slug}`}
              class="block bg-charcoal-500  hover:shadow-xl transition-shadow duration-300 hover:scale-[1.02]"
            >
              <img
                src={producto.imagen}
                alt={producto.nombre}
                class="w-full h-56 object-cover rounded-t-md"
              />
              <div class="p-4">
                <h2 class="text-xl font-semibold mb-2">{producto.nombre}</h2>
                <p class="text-negroni-500 font-bold">${producto.precio}</p>
                <p class="text-sm mt-1 text-white">{producto.categoria}</p>
              </div>
            </a>
          ))
        }
      </div>

      {
        productosFiltrados.length === 0 && (
          <p class="text-center text-gray-500 mt-8">
            No hay productos en esta categoría.
          </p>
        )
      }
    </main>
  </body>
</html>
